<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      <%- imageInfo.year + imageInfo.month + imageInfo.day + imageInfo.hour +
      imageInfo.minute + imageInfo.second %> | <%- title %>
    </title>
    <%- include('components/head.ejs', {page: "image", title: title}); %>
  </head>
  <body>
    <%- include('components/topbar.ejs', {page: "image", info:
    `${imageInfo.hour}:${imageInfo.minute}:${imageInfo.second}, ${imageInfo.day}
    ${imageInfo.monthName} ${imageInfo.year}`}); %>
    <div class="image-view">
      <% let
      imageURL=`/raw/${imageInfo.year}/${imageInfo.month}/${imageInfo.day}/${imageInfo.fileName}`
      %>
      <a href="<%= imageURL %>" target="_blank">
        <img src="<%= imageURL %>" alt="Image" />
      </a>
    </div>
  </body>
</html>
