<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%- fileInfo.fullFileName() %> | <%- title %></title>
    <%- include('components/head.ejs', {page: "image", title: title}); %>
    <meta property="og:title" content="<%- fileInfo.fullFileName() %>" />
    <meta property="og:site_name" content="<%- title %>" />
    <meta property="og:type" content="website" />

    <% if (fileInfo.isVideo) { %>
    <meta property="og:video:type" content="video/<%= fileInfo.extension %>" />
    <meta property="og:video" content="<%= fileInfo.rawPath() %>" />
    <% } else { %>
    <meta property="og:image" content="<%= fileInfo.rawPath() %>" />
    <% } %>

    <meta
      property="og:description"
      content="<%- `${fileInfo.day} ${fileInfo.monthName()} ${fileInfo.year}` %>"
    />
  </head>
  <body>
    <%- include('components/topbar.ejs', {page: "image", info:
    `${fileInfo.hour}:${fileInfo.minute}:${fileInfo.second}, ${fileInfo.day} ` +
    `${fileInfo.monthName()} ${fileInfo.year}`}); %>
    <div class="image-view">
      <% if(fileInfo.isVideo) { %>
      <video controls>
        <source
          src="<%= fileInfo.rawPath() %>"
          type="video/<%= fileInfo.extension %>"
        />
      </video>
      <% } else { %>
      <a href="<%= fileInfo.rawPath() %>" target="_blank">
        <img src="<%= fileInfo.rawPath() %>" alt="Image" />
      </a>
      <% } %>
    </div>
  </body>
</html>
